literature/
slides/
preprint/
paper/
gurobi.lic
logs.json
lp_files/uncompress_ms
.pre-commit-config.yaml
.flake8
**/__pycache__
lp_files/compressed_lp
lp_files/expanded_lp
outputs
constraint_dropping/heat_pump_problem.py